<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <meta name="generator" content="Eleventy {{ eleventyVersion }}" />
  <meta name="author" content="{{ author }}" />
</head>
<body>

  <main>{{ content }}</main>

</body>
</html>
